* text=auto eol=lf
*.{png,jpg,jpeg,gif,webp,woff,woff2} binary
doc/*.tex linguist-detectable=true
doc/*.tex linguist-language=TeX
doc/* linguist-documentation=false
*.ps1 linguist-language=PowerShell
*.ps1 text eol=crlf
